/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ï¾‰â—•ãƒ®â—•)ï¾‰*:ï½¥ï¾Ÿâœ§
******************************************************/

body {
	background: #000000;
	color: #000000;
}

h1 {
	color: #ffffff;
	display: inline;
	font-family: Arial;
	font-size: 4rem;
	padding-top: 2rem;
	margin: 1rem
}

em {
	color: #ffffff;
	font-family: Arial
}

.sfooter {
	background-color: #ff8b00
}

section:nth-child(3) {
	background-color: #ffffff
}

span {
	color: black;
	font-family: times;
	font-style: italic;
	font-style: oblique
}

img[src="images/stunning.jpg"] {
	float: left;
	width: 300px;
	margin-right: 3rem;
	margin-bottom: 1rem;
	border: solid 5px white;
}

main {
	background-color: #ffffff;
}

table {
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	font-family: Arial Helvetica Times;
	font-size: 1rem;
	color: #ffffff
}

th,
td {
	text-align: left;
	margin: 5px;
	padding: 1rem;
	border: 1px solid white;
	background-color: #ff8b00;
	font-family: Arial
}

h2:nth-child(1) {
	padding-right: 2rem;
	font-family: Arial;
	color: orange;
	float: right
}

header {
	Padding: 2rem
}

img[src="images/captain-janeway.png"] {
	float: right;
	width: 300px;
	margin: 1rem;
	border: solid 5px #d3d3d3;
}

.instructions {
	color: orange;
	font-family: Arial;
	border: 3px solid orange;
	width: 90%;
	padding: 2rem;
	margin: 2rem;
	display: inline-block
}

footer {
	color: #ffffff;
	background-color: #000000;
	font-family: Arial
}

ol {
	float: left;
	font-size: 1rem;
	display: inline-block;
	clear: both;
}

section:nth-child(2) {
	background-color: #d3d3d3;
	color: #6f767d;
	font-family: Arial;
	padding: 1rem;
	line-height: 160%;
}

h2:nth-child(3) {
	float: right;
}

.pull-left > h2 {
	float: left;
}

